<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/Java Automation/NybSys_Automation_Java">
        <classes>
            <class name="testcases.TestLoginPage">
                <methods>
                    <include name="testLoginPage"/>
                </methods>
            </class>
            <class name="testcases.TestAddUser">
                <methods>
                    <include name="testAddUser"/>
                </methods>
            </class>
            <class name="testcases.TestRemoveUser">
                <methods>
                    <include name="testRemoveUserFunction"/>
                </methods>
            </class>
            <class name="testcases.TestLogOut">
                <methods>
                    <include name="testLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>